<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Responsive Template</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<header ng-controller="HeadCtrl as head">
			<h2 >{{ head.name }}</h2>
		</header>

		<nav ng-controller="MenuCtrl as menu">
			<h2>Menu</h2>
			<ul>
				<li ng-repeat="item in menu.items">
					<a href="#"> {{ item }} </a>
				</li>				
			</ul>
		</nav>
		
		<main ng-controller="ContentCtrl as content">
			<h2>Our Apps!</h2>

			<div class="appCard" ng-repeat="app in content.apps">
				<h4>{{ app.name }}</h4>
				<p>{{ app.description }}</p>
				<button ng-show="{{ app.available }}">Buy!  <em>{{ app.price | currency}}</em></button>
			</div>

			<section class="subscribe">
				<input type="email" placeholder="Please enter your email" name="email" required>
				<input type="text" placeholder="What is your name?" name="userName">
				<select name="select">
					<option value="chrome">Google Chrome</option> 
					<option value="firefox">Mozilla Firefox</option>
					<option value="opera">Opera</option>
				</select>
				<button>Submit</button>
			</section>
			
			<table>
				<tr>
					<th>Browser</th>
					<th>Views per day</th>
					<th>Views per month</th>
					<th>%</th>
				</tr>
				<tr>
					<td>Google Chrome</td>
					<td>189</td>
					<td>3785</td>
					<td>36.7 %</td>
				</tr>
				<tr>
					<td>Mozilla Firefox</td>
					<td>143</td>
					<td>3541</td>
					<td>34.3 %</td>
				</tr>
				<tr>
					<td>Opera</td>
					<td>122</td>
					<td>2986</td>
					<td>29 %</td>
				</tr>
			</table>
		</main>

		<footer>
			<p>Created by FlyDevStudio. All rights reserved &copy; 2016.</p>
		</footer>
	</div>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>