header{
    background: #3402fd;
    height: 150px;
    text-align: center;
    line-height: 150px;

}

#myform{
    margin-left: 10px;

    padding: 70px 10px 10px 30px;
    width: calc(100%-250px);
    display: block;
    position: relative;

}
#input2{
    padding-left: 120px;
    position: absolute;
}
#button{
    position: absolute;

    right:50px;
    bottom: 10px;
}
table{

    margin-top: 50px;
    border: 1px solid black;
    margin-left: 10px;
    width: 98%;



}
th,td {
    text-align: center;
    padding: 15px;
    font-size: 15px;
    border: 1px solid black;

}

#content {

    width: calc(100%-250px);
    margin-left: 220px;
    background: #b4b946;
    float: none;

}
#menu li{
    float: left;
    list-style: none;

    border-right: 1px solid #D60000;
}
#menu a {
    color: #002800;
    text-decoration: none;
    font-family: Verdana;
}
#menu>li a:hover{
    color: #656565;
    transition: color 0.5s ease;
}

nav {
    position:fixed;
    left:9px;
    margin-top:0px;
    border:1px solid black;
    width:218px;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
    background: #EF0505;
    font-size: 28px;
    text-align: left;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff;
    width: 100%;
    right: 10px;
    clear: both;
}


