<!DOCTYPE html>
<html ng-app="app">

<header>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" type="text/css " media="screen" />


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <h1>Добро пожаловать!</h1>
    <title>Сайт со статическим меню</title>
</header>

<body >
<nav ng-controller="MenuController as menuController">
    <ul id="menu">
        <li ng-repeat="item in items">
            {{ item.name }}
        </li>

    </ul>
</nav>
<div ng-controller="MainCtrl">
    <ul>
        <li ng-repeat="item in items">
            {{ item.name }}
        </li>
    </ul>
</div>

<main>
    <div id="content">
        <form id="myform" action="">

            <input id="textField" type="text" name="firstname" placeholder="Ваше имя">

            <input id="passwField" type="password" name="password" placeholder="Пароль"><br><br>
            <select>
                <optgroup>
                    <option>Выбор 1</option>
                    <option>Выбор 2</option>
                    <option>Выбор 3</option>
                </optgroup>
            </select>
            <input id="button" type="submit" name="Submit"/>
        </form>


        <table>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
</main>
</body>
<footer>&copy Дробов Евгений</footer>

</html>