.wrapper {
  width: 500px;
  margin: 0 auto;
}
#tree {
  float: left;
}
#btnBlock {
 width: 200px;
 float: right;
 margin-right: 20px;
}
button {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
  margin: 2px;
  cursor: pointer;
}
button[disabled] {
  color: #ccc;
  border-color: #ddd;
  cursor: auto;
}
button:not([disabled]):hover {
  background-color: #000;
  color: #fff;
}
.container {
  width: 100px;
  list-style: none;
  color: #fff;
}
.node {
  background-color: #19b98c;
  border: 1px solid grey;
}
.nested {
  background-color: #21c54d;
  border: 1px dashed white;
}
.nested, .node {
  cursor: pointer;
}

.active {
   border: 2px solid red;
   background-color: yellow;
   color: black;
}

.parent {
  border: 5px dashed orange;
}